---
import Layout from "../layouts/Layout.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
import Atributos from "../components/Atributos.astro";
import Interior from "../components/Interior.astro";
import Exterior from "../components/Exterior.astro";
import Swiper from "../components/Swiper.astro";
import ColoresExterior from "../components/ColoresExterior.astro";
import Equipamiento from "../components/Equipamiento.astro";
import Seguridad from "../components/Seguridad.astro";
import Especificaciones from "../components/Especificaciones.astro";
---

<Layout title="GAC Emzoom R Style">
  <GlobalStyles />
  <main class="mx-auto px-4 poppins-regular">
    <section
      class="grid grid-cols-7 my-8 xl:my-20 bg-[url('/img/fondo-cta-m.jpg')] xl:bg-[url('/img/fondo-cta.jpg')] bg-cover bg-no-repeat xl:aspect-[1440/500]"
    >
      <div class="col-span-3 xl:col-span-4"></div>
      <div
        class="col-span-4 xl:col-span-3 flex flex-col items-center justify-center gap-1 xl:gap-4 py-1 xl:py-8"
      >
        <img
          src="/img/logo-modelo.svg"
          alt="GAC Emzoom R Style"
          class="max-w-32 xl:max-w-full mb-8"
        />
        <a
          href="https://store.gacmotor.cl/"
          class="block border border-naranja rounded-full px-2 xl:px-8 py-2 uppercase poppins-medium text-xs xl:text-base text-center"
          >Comprar</a
        >
        <a
          href="https://gacmotor.cl/cotizador/formulario/?id=5587"
          class="block bg-rojo text-white rounded-full px-8 py-2 uppercase poppins-medium text-xs xl:text-base"
          >Cotizar</a
        >
      </div>
    </section>

    <section
      class="grid grid-cols-1 xl:grid-cols-3 my-8 xl:my-16 gap-y-8 xl:gap-16"
    >
      <div>
        <img src="/img/sobre-m.png" alt="foto" class="xl:hidden" />
        <img src="/img/sobre.png" alt="foto" class="hidden xl:block" />
      </div>
      <div class="col-span-2" id="general">
        <h1 class="poppins-bold uppercase text-3xl xl:text-6xl">
          Sobre el GAC <img
            src="/img/logo-modelo.svg"
            alt="GAC Emzoom R Style"
            class="max-w-72"
          />
        </h1>
        <p class="my-8">
          El GAC Emzoom R-Style eleva la deportividad a otro nivel con su motor
          1.5 Turbo de 174 HP y su modo de conducción Sport+, brindando una
          experiencia de manejo más potente y dinámica. Su diseño audaz se
          complementa con neumáticos deportivos de 19”, techo panorámico y
          detalles que destacan su carácter agresivo.
        </p>
        <p class="my-8">
          En su interior, cuenta con asientos de ecocuero, cargador inalámbrico
          y una pantalla táctil de 10,25” que integran tecnología y confort.
          Además, ofrece avanzados sistemas de seguridad como Control de Crucero
          Adaptativo (ACC) y Frenado Automático de Emergencia (AEB), asegurando
          confianza en cada aventura.
        </p>
      </div>
    </section>

    <Atributos />

    <Interior />

    <Exterior />

    <ColoresExterior />

    <Especificaciones />

    <section class="grid xl:grid-cols-3 gap-16 my-8 xl:my-20" id="precios">
      <img src="/img/precios-izq.png" alt="foto" class="hidden xl:block" />
      <div class="col-span-2" id="precios">
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">
          Precios y financiamiento
        </h2>
        <div class="mt-10">
          <h3
            class="pt-1 pb-3 pl-6 bg-gris text-white poppins-bold text-2xl rounded-tr-xl tab relative"
          >
            GAC EMZOOM R-STYLE
          </h3>
          <table class="precios">
            <thead>
              <tr>
                <th colspan="2"
                  ><span class="text-2xl align-middle mr-1">$</span> Valores generales</th
                >
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Precio lista</td>
                <td class="text-right">$ 19.990.000</td>
              </tr>
              <tr>
                <td>Bono marca</td>
                <td class="text-right">$ 500.000</td>
              </tr>
              <tr>
                <td>Bono Santander Consumer</td>
                <td class="text-right">$ 500.000</td>
              </tr>
              <tr>
                <td>Total bonos</td>
                <td class="text-right">$ 1.000.000</td>
              </tr>
              <tr>
                <td class="bg-gris text-white">Precio final con bonos</td>
                <td class="text-right bg-gris text-white">$ 18.990.000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
  <Swiper />
  <script is:inline>
    // smooth scroll
    document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
      anchor.addEventListener("click", function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute("href")).scrollIntoView({
          behavior: "smooth",
        });
      });
    });
  </script>

  <style lang="scss">
    table.precios {
      width: 100%;
      border-collapse: collapse;
      th {
        background-color: black;
        border-bottom: 1px solid #dbdbdb;
        text-align: left;
        padding: 0.6rem 1rem 0.6rem 1.5rem;
      }
      td {
        border-top: 1px solid #dbdbdb;
        padding: 0.5rem;
        @media (min-width: 1280px) {
          padding: 0.9rem;
          padding-left: 3rem;
        }
        &:last-child {
          white-space: nowrap;
        }
      }
    }

    .tab::before {
      content: "";
      position: absolute;
      top: -13px;
      left: 0;
      width: 306px;
      height: 20px;
      background-color: #34333c;
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
    }

    .tab::after {
      content: "";
      position: absolute;
      top: -15px;
      left: 290px;
      width: 20px;
      height: 30px;
      background-color: #34333c;
      border-top-right-radius: 0.75rem;
      transform: rotate(-45deg);
    }
  </style>
</Layout>
