<!-- Swiper -->
<div class="swiper mySwiper leftSwiper my-8 xl:my-16">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/img/atrib1.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-der-dark.svg')] p-4 xl:py-10 xl:px-20"
          >
            Un diseño deportivo y desafiante: carrocería con detalles en color
            naranjo, manillas eléctricas ocultas, parrilla delantera Flying Wing
            y llantas deportivas de 19”, que refuerzan su estilo más agresivo y
            dinámico.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/img/atrib2.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-der-dark.svg')] p-4 xl:py-10 xl:px-20"
          >
            Motor 1.5 Turbo Intercooler de inyección directa, con transmisión
            automática de 7 velocidades y 174 HP, que ofrece aceleración rápida
            y un rendimiento deportivo.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/img/atrib3.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-der-dark.svg')] p-4 xl:py-10 xl:px-20"
          >
            Pantalla táctil de 10,25” con CarPlay inalámbrico, cargador
            inalámbrico, volante multifunción y el exclusivo Modo Sport+, que
            juntos ofrecen una experiencia de conducción más conectada y
            deportiva.
          </p>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
