---
// Definir las props que el componente espera recibir
const { title, description } = Astro.props;
---

<h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
  {title}
</h2>
<div
  class={`flex text-xs lg:text-base items-center justify-center h-full bg-contain bg-[url('/emzoom-rstyle/img/fondo-mobile-dark.svg')] xl:bg-[url('/emzoom-rstyle/img/fondo-izq-dark.svg')] xl:bg-cover bg-no-repeat px-4 pt-20 pb-20 -mt-7 xl:mt-0 z-0 relative xl:py-10 xl:px-20`}
>
  <div class="custom-corner -mt-4">
    <span class="corner"></span>
    {description}
  </div>
</div>
