<section
  class="bg-[url('/emzoom-rstyle/img/fondo-colores-ext-mobile-dark.svg')] xl:bg-[url('/emzoom-rstyle/img/fondo-colores-ext-dark.svg')] bg-contain bg-no-repeat bg-bottom my-8 xl:my-16 aspect-[1361/680]"
>
  <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">Colores exterior</h2>
  <!-- Swiper -->
  <div class="swiper extSwiper xl:-mt-12">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="/emzoom-rstyle/img/color-ext1.png?v=4"
          class="mx-auto xl:max-w-[780px]"
          alt="color"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/emzoom-rstyle/img/color-ext2.png?v=4"
          class="mx-auto xl:max-w-[780px]"
          alt="color"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/emzoom-rstyle/img/color-ext3.png?v=4"
          class="mx-auto xl:max-w-[780px]"
          alt="color"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/emzoom-rstyle/img/color-ext4.png?v=4"
          class="mx-auto xl:max-w-[780px]"
          alt="color"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/emzoom-rstyle/img/color-ext5.png?v=4"
          class="mx-auto xl:max-w-[780px]"
          alt="color"
        />
      </div>
    </div>
  </div>
  <div
    class="flex gap-2 xl:gap-4 xl:-mt-16 justify-center [&>*]:cursor-pointer text-center text-xs xl:text-sm font-medium relative z-10"
  >
    <div class="w-16 flex flex-col items-center gap-1">
      <img src="/emzoom-rstyle/img/color1.svg" alt="color6" onclick="changeColor(0)" />
      <p>Azul Laguna</p>
    </div>
    <div class="w-16 flex flex-col items-center gap-1">
      <img src="/emzoom-rstyle/img/color2.svg" alt="color7" onclick="changeColor(1)" />
      <p>Blanco Nevado</p>
    </div>
    <div class="w-16 flex flex-col items-center gap-1">
      <img src="/emzoom-rstyle/img/color3.svg" alt="color3" onclick="changeColor(2)" />
      <p>Gris Grafeno Mate</p>
    </div>
    <div class="w-16 flex flex-col items-center gap-1">
      <img src="/emzoom-rstyle/img/color4.svg" alt="color4" onclick="changeColor(3)" />
      <p>Gris Magnético</p>
    </div>
    <div class="w-16 flex flex-col items-center gap-1">
      <img src="/emzoom-rstyle/img/color5.svg" alt="color5" onclick="changeColor(4)" />
      <p>Plata Polar</p>
    </div>
  </div>
</section>
