<!-- Swiper -->
<div
  class="swiper mySwiper leftSwiper2 py-8 xl:py-0 xl:my-16"
  id="equipamiento"
>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/img/equip-inicial.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              El GAC Aion Y llega para redefinir la movilidad eléctrica. Su
              completo equipamiento y sus avanzadas tecnologías, te invitan a
              vivir una nueva era en el camino para que cada viaje se transforme
              en una experiencia única.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/img/equip2.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <h3 class="poppins-bold">APARCAMIENTO 360° HD</h3>
            <p class="my-4 xl:my-8">
              El aparcamiento panorámico 360° HD del GAC Aion Y te brinda una
              visión completa sin puntos ciegos, gracias a sus cuatro cámaras de
              gran ángulo. Este sistema genera una vista panorámica en tiempo
              real, facilitando maniobras en espacios reducidos y asegurando una
              conducción más segura al estacionar o maniobrar en áreas
              complicadas.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/img/equip3.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <h3 class="poppins-bold">
              PALANCA DE CAMBIOS ELECTRÓNICA INTELIGENTE
            </h3>
            <p class="my-4 xl:my-8">
              La palanca de cambios electrónica inteligente integrada no solo
              optimiza el espacio del interior, sino que también mejora la
              eficiencia al cambiar de marcha. Su diseño intuitivo y ergonómico
              facilita la conducción, reduciendo los pasos operativos y
              brindando una experiencia de manejo más fluida y moderna.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/img/equip-pantalla.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <h3 class="poppins-bold">
              PANTALLA TÁCTIL DE CONTROL CENTRAL DE 14,6”
            </h3>
            <p class="my-4 xl:my-8">
              Ofrece una experiencia interactiva avanzada, permitiendo controlar
              fácilmente todas las funciones del GAC Aion Y desde un solo lugar.
              Con una interfaz intuitiva y multilingüe, esta pantalla facilita
              la navegación, el control del clima y la personalización de la
              experiencia de conducción, proporcionando comodidad y tecnología
              en un formato moderno y accesible.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/img/equip-instr.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <h3 class="poppins-bold">
              PANTALLA DE INSTRUMENTOS DIGITAL LCD DE 10,25”
            </h3>
            <p class="my-4 xl:my-8">
              Brinda una visualización clara y moderna de toda la información
              clave del GAC Aion Y. Con múltiples temas personalizables, esta
              pantalla permite al conductor acceder fácilmente a datos de
              conducción, configuración de modos y asistencia, todo en un
              formato digital intuitivo que mejora la experiencia al volante.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/img/equip-llave.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <h3 class="poppins-bold">LLAVE INTELIGENTE</h3>
            <p class="my-4 xl:my-8">
              Su moderna llave entrega comodidad y control en cada detalle. Con
              funciones como el encendido a distancia, apertura del portalón y
              control de ventanas y sunroof, esta llave no solo simplifica la
              interacción con el vehículo, sino que también garantiza una
              experiencia premium. Todo, con un solo botón.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/img/equip-modos2.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <h3 class="poppins-bold">CUATRO MODOS DE CONDUCCIÓN</h3>
            <p class="my-4 xl:my-8">
              El GAC Aion Y ofrece cuatro modos de conducción adaptados a
              diferentes estilos y condiciones de manejo: Sport, I-Pedal, ECO y
              Normal. Cada uno de estos modos optimiza la respuesta del vehículo
              para mejorar el rendimiento, la eficiencia energética o el
              confort, según las necesidades del conductor. En particular, el
              modo I-Pedal permite una conducción más intuitiva y eficiente,
              utilizando un solo pedal para acelerar y frenar, lo que maximiza
              la recuperación de energía en cada trayecto.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/img/equip-luz.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <h3 class="poppins-bold">LUZ AMBIENTAL DE 32 COLORES</h3>
            <p class="my-4 xl:my-8">
              Cuenta con una impresionante luz ambiental de 32 colores, que
              transforma el ambiente interior del vehículo según el estado de
              ánimo o la ocasión. Con 8 niveles de brillo ajustables, esta
              iluminación mejora la estética del interior y cambia de color en
              sincronización con el ritmo de la música o el modo de conducción,
              creando una experiencia inmersiva y única para cada viaje.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
