<section class="my-16" id="especificaciones">
  <div
    class="xl:bg-[url('/emzoom-rstyle/img/fondo-especificaciones.jpg')] bg-contain bg-no-repeat xl:aspect-[1314/561] mb-8"
  >
    <h1 class="poppins-bold uppercase text-3xl xl:text-6xl relative z-10">
      Especificaciones <br /> Técnicas
    </h1>
    <img
      src="/emzoom-rstyle/img/fondo-especificaciones.jpg"
      alt=""
      class="xl:hidden -mt-8 relative"
    />
  </div>

  <button class="accordion poppins-bold"
    ><img
      src="/emzoom-rstyle/img/ico-espec-n.svg"
      alt="icono"
      class="inline-block mr-2 w-6 h-6 xl:w-8 xl:h-8"
    /> Características y especificaciones</button
  >
  <div class="panel">
    <ul>
      <li>
        <span>Largo × Ancho × Alto (mm)</span>
        <span>4410 mm × 1850 mm × 1600 mm</span>
      </li>
      <li>
        <span>Distancia entre ejes (mm)</span>
        <span>2650 mm</span>
      </li>
      <li>
        <span>Capacidad del maletero (L)</span>
        <span>341L / 1271L</span>
      </li>
      <li>
        <span>Capacidad del tanque de combustible</span>
        <span>47L</span>
      </li>
      <li>
        <span>Peso en vacío (kg)</span>
        <span>1370 kg - 1415 kg</span>
      </li>
      <li>
        <span>Motor</span>
        <span>1.5 Turbo</span>
      </li>
      <li>
        <span>Capacidad de asientos</span>
        <span>5</span>
      </li>
      <li>
        <span>Desplazamiento (cc)</span>
        <span>1497 cc</span>
      </li>
      <li>
        <span>Potencia máxima (HP/rpm)</span>
        <span>174 HP / 5500 rpm</span>
      </li>
      <li>
        <span>Par máximo (Nm/rpm)</span>
        <span>270 / 1400-4500 Nm/rpm</span>
      </li>
      <li>
        <span>Transmisión</span>
        <span>7WDCT</span>
      </li>
      <li>
        <span>Sistema de dirección</span>
        <span>Asistida eléctrica (EPS)</span>
      </li>
      <li>
        <span>Sistema de suspensión</span>
        <div class="text-right">
          Delantera: McPherson suspensión independiente <br />
          Trasera: Multi-link Beam Independiente
        </div>
      </li>
      <li>
        <span>Rendimiento de combustible (km/l)</span>
        <span>Ciudad: 12.7 km/l / Carretera: 19.6 km/l / Mixto: 16.4 km/l</span>
      </li>
    </ul>
  </div>

  <button class="accordion poppins-bold"
    ><img
      src="/emzoom-rstyle/img/ico-ext-n.svg"
      alt="icono"
      class="inline-block mr-2 w-6 h-6 xl:w-8 xl:h-8"
    /> Exterior</button
  >
  <div class="panel">
    <ul>
      <li>
        <span>Neumáticos</span>
        <span>235/45 R19</span>
      </li>
      <li>
        <span>Neumático de repuesto</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Faros LED</span>
        <span>LED/Función Follow Me Home /Alarma luces encendidas</span>
      </li>

      <li>
        <span>Luces LED de circulación diurna (DRL)</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Faros automáticos</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Luces de lectura trasera</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Luces antiniebla traseras</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Retrovisores laterales con intermitentes</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Retrovisores laterales eléctricos ajustables</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Retrovisores laterales plegables eléctricamente</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Retrovisores laterales calefaccionados</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Limpiaparabrisas delanteros con sensor de lluvia</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Manillas ocultas</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Tecno panorámico</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Parabrisas trasero calefactable</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
    </ul>
  </div>

  <button class="accordion poppins-bold"
    ><img
      src="/emzoom-rstyle/img/ico-int-n.svg"
      alt="icono"
      class="inline-block mr-2 w-6 h-6 xl:w-8 xl:h-8"
    /> Interior</button
  >
  <div class="panel">
    <ul>
      <li>
        <span>Climatizador</span><img
          src="/emzoom-rstyle/img/punto.svg"
          alt=""
        />
      </li>
      <li>
        <span>Aire acondicionado de segunda fila</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Filtro de aire PM 1.0</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Volante de cuero</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Volante multifunción</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Asientos de ecocuero</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Ajuste eléctrico de 6 direcciones del asiento del conductor</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span
          >Ajuste manual de 4 direcciones del asiento del pasajero delantero</span
        >
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Apoyabrazos central trasero</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Reposacabezas central trasero</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span
          >Ajuste del respaldo del asiento de la segunda fila + plegado dividido
          40/60</span
        >
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span
          >Ventanas eléctricas de subida y bajada con un solo toque en la fila
          delantera y segunda fila</span
        >
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Parasol delantero (con espejo y luz)</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Luces ambientales interiores</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
    </ul>
  </div>

  <button class="accordion poppins-bold"
    ><img
      src="/emzoom-rstyle/img/ico-seg-n.svg"
      alt="icono"
      class="inline-block mr-2 w-6 h-6 xl:w-8 xl:h-8"
    /> Seguridad</button
  >
  <div class="panel">
    <ul>
      <li>
        <span>Airbags frontales dobles</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Airbags laterales delanteros</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Airbags laterales de cortina</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span
          >Cinturones de seguridad de la primera fila con pretensores y
          limitadores de fuerza</span
        >
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span
          >Cinturones de seguridad de la primera fila con recordatorios de
          desabrochado (luz y sonido)</span
        >
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span
          >Cinturones de seguridad de segunda fila con pretensores y limitadores
          de fuerza</span
        >
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span
          >Cinturones de seguridad de segunda fila con recordatorios de
          desabrochado</span
        >
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Control de espera en arranque en pendiente (HHC)</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Control de descenso de pendientes (HDC)</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Freno de estacionamiento electrónico (con Autohold)</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Programa Electrónico de Estabilidad (ESP)</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Sistema de monitoreo de presión de neumáticos (TPMS)</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Anclajes ISOFIX para asientos de seguridad para niños</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Inmovilizador del motor (con alarma antirrobo)</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
    </ul>
  </div>

  <button class="accordion poppins-bold"
    ><img
      src="/emzoom-rstyle/img/ico-tec-n.svg"
      alt="icono"
      class="inline-block mr-2 w-6 h-6 xl:w-8 xl:h-8"
    /> Multimedia y tecnología</button
  >
  <div class="panel">
    <ul>
      <li>
        <span>Carplay inalámbrico</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Carbit Link - Android</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Pantalla táctil multifuncional de 10,25 pulgadas</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Tablero de instrumentos LCD de 7 pulgadas</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>6 Parlantes</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Puertos USB frontales (TIPO C)</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Puertos USB frontales (TIPO A)</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Puerto USB trasero (TIPO A)</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Sistema telefónico manos libres Bluetooth</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Encendido a distancia</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Modo Eco</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Modo Comfort</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Modo Sport</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Modo Sport+</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Cargador inalámbrico</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Maleta ajustable en apertura con memoria</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>

      <li>
        <span>Válvula apertura de escape</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
    </ul>
  </div>
  <button class="accordion poppins-bold"
    ><img
      src="/emzoom-rstyle/img/ico-adas-n.svg"
      alt="icono"
      class="inline-block mr-2 w-6 h-6 xl:w-8 xl:h-8"
    /> Sistemas avanzados de asistencia a la conducción - ADAS
  </button>
  <div class="panel">
    <ul>
      <li>
        <span>Control de crucero</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Sensores de estacionamiento traseros</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Sistema de cámara de visión envolvente</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
      <li>
        <span
          >Control de crucero adaptativo (ACC) + Asistente de crucero integrado
          (ICA)</span
        >
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Frenado automático de emergencia (AEB)</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Advertencia de colisión frontal (FCW)</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Sistema de reconocimiento de señales de tráfico (TSR)</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Asistente para atascos de tráfico (TJA)</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Asistente de luces altas (HMA)</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Asistente de mantenimiento de carril (LKA)</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Control inteligente de límite de velocidad</span>
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
      <li>
        <span
          >Asistente de mantenimiento de carril (LKA) + Advertencia de cambio de
          carril (LDW)</span
        >
        <img src="/emzoom-rstyle/img/punto.svg" alt="" />
      </li>
    </ul>
  </div>

  <div class="flex justify-center my-8">
    <a
      href="https://gacmotor.cl/gac-emzoom-rstyle/"
      class="block border-2 border-naranja rounded-full px-8 py-2 uppercase poppins-medium"
      >Descargar ficha técnica</a
    >
  </div>
</section>

<script is:inline>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>

<style lang="scss">
  .accordion {
    background-color: #34333c;
    background-image: url("/emzoom-rstyle/img/dropdown-naranja.svg");
    background-repeat: no-repeat;
    background-position: 98% 50%;
    cursor: pointer;
    padding: 8px 10px;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    text-align: left;
    outline: none;
    font-size: 14px;
    transition: 0.4s;
    @media (min-width: 1280px) {
      padding: 10px 18px;
      font-size: 15px;
    }
    &.active {
      background-image: url("/emzoom-rstyle/img/dropdown-up-naranja.svg");
    }
  }

  .panel {
    background-color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    li {
      border-bottom: 1px solid #dbdbdb;
      display: flex;
      justify-content: space-between;
      font-size: 10px;
      padding: 2px;
      @media (min-width: 1280px) {
        padding: 16px 64px;
        font-size: 14px;
      }
    }
  }
</style>
