<section class="my-16" id="especificaciones">
  <div
    class="xl:bg-[url('/img/fondo-especificaciones.jpg')] bg-contain bg-no-repeat xl:aspect-[1314/561] mb-8"
  >
    <h1 class="poppins-bold uppercase text-3xl xl:text-6xl relative z-10">
      Especificaciones <br /> Técnicas
    </h1>
    <img
      src="/img/fondo-especificaciones.jpg"
      alt=""
      class="xl:hidden -mt-8 relative"
    />
  </div>

  <button class="accordion poppins-bold"
    ><img
      src="/img/ico-espec-n.svg"
      alt="icono"
      class="inline-block mr-2 w-6 h-6 xl:w-8 xl:h-8"
    /> Características y especificaciones</button
  >
  <div class="panel">
    <ul>
      <li>
        <span>Largo × Ancho × Alto (mm)</span>
        <span>4535 mm × 1870 mm × 1650 mm</span>
      </li>
      <li>
        <span>Distancia entre ejes (mm)</span>
        <span>2750mm</span>
      </li>
      <li>
        <span>Capacidad se asientos</span>
        <span>5</span>
      </li>
      <li>
        <span>Potencia máxima (HP)</span>
        <span>201HP</span>
      </li>
      <li>
        <span>Par máximo</span>
        <span>225N·m</span>
      </li>
      <li>
        <span>Tipo de batería</span>
        <span>Fosfato de Hierro y Litio</span>
      </li>
      <li>
        <span>Capacidad de batería</span>
        <span>63,2kWh</span>
      </li>
      <li>
        <span>Rango de autonomia</span>
        <span class="text-right ml-8"
          >455 km Autonomía según homologación de Centro de Control y
          Certificación Vehicular 3CV</span
        >
      </li>
      <li>
        <span>Rendimiento</span>
        <span>7,2 km/kwh</span>
      </li>
      <li>
        <span>Sistema de dirección</span>
        <span>Electro asistida EPS</span>
      </li>
      <li>
        <span>Sistema de suspensión</span>
        <div class="text-right">
          Delantera: McPherson suspensión independiente <br />
          Trasera: Barra de torsión
        </div>
      </li>
    </ul>
  </div>

  <button class="accordion poppins-bold"
    ><img
      src="/img/ico-ext-n.svg"
      alt="icono"
      class="inline-block mr-2 w-6 h-6 xl:w-8 xl:h-8"
    /> Exterior</button
  >
  <div class="panel">
    <ul>
      <li>
        <span>Neumáticos</span>
        <span>215/55 R17</span>
      </li>
      <li>
        <span>Faros LED</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Luces LED de circulación diurna (DRL)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Luces antiniebla traseras</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Retrovisores laterales con intermitentes</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Retrovisores laterales eléctricos ajustables</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Retrovisores laterales plegables eléctricamente</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Retrovisores laterales calefaccionados</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Limpiaparabrisas delanteros con sensor de lluvia</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Manillas ocultas</span>
        <img src="/img/punto.svg" alt="" />
      </li>
    </ul>
  </div>

  <button class="accordion poppins-bold"
    ><img
      src="/img/ico-int-n.svg"
      alt="icono"
      class="inline-block mr-2 w-6 h-6 xl:w-8 xl:h-8"
    /> Interior</button
  >
  <div class="panel">
    <ul>
      <li>
        <span>Aire acondicionado automático</span><img
          src="/img/punto.svg"
          alt=""
        />
      </li>
      <li>
        <span>Filtro de aire (PM2,5)</span><img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Ventilación del aire acondicionado de la segunda fila</span><img
          src="/img/punto.svg"
          alt=""
        />
      </li>
      <li>
        <span>Volante tapizado en eco cuero</span><img
          src="/img/punto.svg"
          alt=""
        />
      </li>
      <li>
        <span>Volante multifunción</span><img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Asientos tapizados en eco cuero</span><img
          src="/img/punto.svg"
          alt=""
        />
      </li>
      <li>
        <span
          >Asiento del conductor ajustable eléctricamente en 6 direcciones</span
        ><img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span
          >Ventanas delanteras y traseras Subir y bajar con un solo toque
          (antipellizco)</span
        ><img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Apoya cabeza asiento central</span><img
          src="/img/punto.svg"
          alt=""
        />
      </li>
      <li>
        <span>Techo panorámico</span><img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Respaldo del asiento del conductor totalmente plegable</span><img
          src="/img/punto.svg"
          alt=""
        />
      </li>
      <li>
        <span>Segunda fila de asientos plegables divididos 40/60</span><img
          src="/img/punto.svg"
          alt=""
        />
      </li>
      <li>
        <span>Tomacorriente de 12 V en la primera fila</span><img
          src="/img/punto.svg"
          alt=""
        />
      </li>
      <li>
        <span>Posa vasos en asiento central</span><img
          src="/img/punto.svg"
          alt=""
        />
      </li>
      <li>
        <span>Parasoles con espejo de cortesía</span><img
          src="/img/punto.svg"
          alt=""
        />
      </li>
    </ul>
  </div>

  <button class="accordion poppins-bold"
    ><img
      src="/img/ico-seg-n.svg"
      alt="icono"
      class="inline-block mr-2 w-6 h-6 xl:w-8 xl:h-8"
    /> Seguridad</button
  >
  <div class="panel">
    <ul>
      <li>
        <span>Bomba de aire + sellador de neumáticos</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Neumático de repuesto temporal</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Sistema de frenos antibloqueo (ABS)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Programa Electrónico de Estabilidad (ESP)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Distribución electrónica de la fuerza de frenado (EBD)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Sistema de recuperación de energía de frenado</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Airbags frontales</span>
        <span>2</span>
      </li>
      <li>
        <span>Airbags frontales laterales</span>
        <span>2</span>
      </li>
      <li>
        <span>Airbags laterales de cortina</span>
        <span>2</span>
      </li>
      <li>
        <span
          >Cinturones de seguridad con limitadores de fuerza en asientos de
          primera fila</span
        >
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span
          >Alarma de cinturón de seguridad desatado del asiento delantero (luz y
          timbre)</span
        >
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Anclajes ISOFIX para asientos de seguridad para niños</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Auto Hold</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Sistema de control de tracción (TCS)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span
          >Sistema de control indirecto de la presión de los neumáticos TPMS</span
        >
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Control de crucero</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Sensores de estacionamiento traseros</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Sistema de cámara con visión HD de 360°</span>
        <img src="/img/punto.svg" alt="" />
      </li>
    </ul>
  </div>

  <button class="accordion poppins-bold"
    ><img
      src="/img/ico-tec-n.svg"
      alt="icono"
      class="inline-block mr-2 w-6 h-6 xl:w-8 xl:h-8"
    /> Multimedia y tecnología</button
  >
  <div class="panel">
    <ul>
      <li>
        <span>I PEDAL (Pedal electrónico)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Entrada sin llave</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Cuadro de instrumentos LCD</span>
        <span>10,25 pulgadas</span>
      </li>
      <li>
        <span>Pantalla táctil</span>
        <span>14,6 pulgadas</span>
      </li>
      <li>
        <span>Sistema de audio y vídeo en español</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Sistema de teléfono manos libres Bluetooth</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>6 Parlantes</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Luces ambientales</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Puertos USB frontal y segunda fila</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Espejo retrovisor interior con puerto USB (5V)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Sistema de audio y video</span>
        <span>Apple Carplay / FunDrive Link</span>
      </li>
      <li>
        <span>Modo de conducción ECO</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Modo de conducción NORMAL</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Modo de conducción SPORT</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Modo de conducción I-PEDAL</span>
        <img src="/img/punto.svg" alt="" />
      </li>
    </ul>
  </div>

  <div class="flex justify-center my-8">
    <a
      href="http://gacmotor.cl/content/uploads/ft-gac-aion-y.pdf"
      class="block border-2 border-naranja rounded-full px-8 py-2 uppercase poppins-medium"
      >Descargar ficha técnica</a
    >
  </div>
</section>

<script is:inline>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>

<style lang="scss">
  .accordion {
    background-color: #34333c;
    background-image: url("/img/dropdown-naranja.svg");
    background-repeat: no-repeat;
    background-position: 98% 50%;
    cursor: pointer;
    padding: 8px 10px;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    text-align: left;
    outline: none;
    font-size: 14px;
    transition: 0.4s;
    @media (min-width: 1280px) {
      padding: 10px 18px;
      font-size: 15px;
    }
    &.active {
      background-image: url("/img/dropdown-up-naranja.svg");
    }
  }

  .panel {
    background-color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    li {
      border-bottom: 1px solid #dbdbdb;
      display: flex;
      justify-content: space-between;
      font-size: 10px;
      padding: 2px;
      @media (min-width: 1280px) {
        padding: 16px 64px;
        font-size: 14px;
      }
    }
  }
</style>
