<!-- Swiper -->
<div class="swiper mySwiper leftSwiper my-8 xl:my-16">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">EXTERIOR</h2>
        <div class="xl:col-span-3">
          <img src="/img/ext1.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            EXTERIOR
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-der-dark.svg')] p-4 xl:py-10 xl:px-20"
          >
            Diseño que impone carácter: la versión R-Style destaca por sus
            llantas negras de 19" y vibrantes acentos en naranja en los
            faldones, alerón, difusor y detalles exteriores, proyectando una
            imagen deportiva y audaz.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">EXTERIOR</h2>
        <div class="xl:col-span-3">
          <img src="/img/ext2.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            EXTERIOR
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-der-dark.svg')] p-4 xl:py-10 xl:px-20"
          >
            El Emzoom R-Style lleva el diseño deportivo al siguiente nivel con
            manillas eléctricas ocultas, detalles en color naranjo y un
            imponente techo panorámico, resaltando su estilo innovador y
            aerodinámico.
          </p>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
