---
import BoxWithBorder from "../components/BoxWithBorder.astro";
import ImgCarrusel from "../components/ImgCarrusel.astro";

const title = "INTERIOR";

const description_1 = "";

const description_2 = "";

const description_3 = "";
---

<!-- Swiper -->
<div class="swiper mySwiper rightSwiper my-8 xl:my-16">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <div class="xl:col-span-4 xl:flex xl:flex-col">
          <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:pl-20 mb-2">
            INTERIOR
          </h2>
          <div class="xl:hidden">
            <img src="/img/int1.png" alt="foto" class="px-10 xl:px-0 z-10 relative"/>
          </div>
          <div
            class="xl:flex text-xs lg:text-base items-center justify-center h-full bg-contain bg-[url('/img/fondo-mobile-dark.svg')] xl:bg-[url('/img/fondo-izq-dark.svg')] bg-no-repeat px-4 pt-20 pb-20 -mt-7 xl:mt-0 z-0 relative xl:py-10 xl:px-20"
          >
            <div class="custom-corner -mt-4">
            <span class="corner"></span>
            En su interior, el Emzoom R-Style resalta por su diseño deportivo y
            sofisticado, con asientos de ecocuero, techo panorámico y luces
            ambientales que realzan su carácter dinámico.
            </div>
          </div>
        </div>
        <div class="hidden xl:block col-span-3">
          <img src="/img/int1.png" alt="foto" class="px-10 xl:px-0 z-10 relative"/>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <div class="xl:col-span-4 xl:flex xl:flex-col">
          <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:pl-20 mb-2">
            INTERIOR
          </h2>
          <div class="xl:hidden">
            <img src="/img/int2.png" alt="foto" class="px-10 xl:px-0 z-10 relative"/>
          </div>
          <div
            class="xl:flex text-xs lg:text-base items-center justify-center h-full bg-contain bg-[url('/img/fondo-mobile-dark.svg')] xl:bg-[url('/img/fondo-izq-dark.svg')] bg-no-repeat px-4 pt-20 pb-20 -mt-7 xl:mt-0 z-0 relative xl:py-10 xl:px-20"
          >
           <div class="custom-corner -mt-4">
                      <span class="corner"></span>
            Dentro del Emzoom R-Style vivirás una experiencia única, gracias a
            su pantalla táctil de 10,25”, CarPlay inalámbrico, cargador
            inalámbrico y el exclusivo Modo Sport+, que elevan la conectividad y
            el rendimiento a otro nivel.
            </div>
          </div>
        </div>
        <div class="hidden xl:block col-span-3">
          <img src="/img/int2.png" alt="foto" class="px-10 xl:px-0 z-10 relative"/>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
