<!-- Swiper -->
<div class="swiper mySwiper rightSwiper2 py-8 xl:py-0 xl:my-16" id="seguridad">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-seg.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">Seguridad</h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:hidden">
            <img src="/img/seg1.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              El GAC Aion Y eleva los estándares de seguridad con una
              combinación de tecnología avanzada y sistemas de protección
              innovadores. Equipado con airbags frontales, laterales y de
              cortina, además del Programa Electrónico de Estabilidad (ESP) y
              frenos antibloqueo (ABS), este modelo garantiza máxima protección
              en cada trayecto. Su sistema de cámara de 360° HD y los sensores
              de estacionamiento traseros aseguran una experiencia de conducción
              segura y sin puntos ciegos en cualquier entorno.
            </p>
          </div>
          <div class="hidden xl:block xl:col-span-3">
            <img src="/img/seg1.png" alt="foto" />
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-seg.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">Seguridad</h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:hidden">
            <img src="/img/seg2.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <h3 class="poppins-bold">
              CONTRAPESO DE CARROCERÍA CON PROPORCIÓN ÁUREA
            </h3>
            <p class="my-4 xl:my-8">
              Otorga una distribución perfecta de peso 50:50 entre el eje
              delantero y trasero. Esto garantiza un mejor manejo, mayor
              estabilidad en curvas y un confort superior en todo tipo de
              terrenos, optimizando la experiencia de conducción al reducir el
              balanceo del vehículo y mejorar su respuesta dinámica.
            </p>
          </div>
          <div class="hidden xl:block xl:col-span-3">
            <img src="/img/seg2.png" alt="foto" />
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-seg.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">Seguridad</h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:hidden">
            <img src="/img/seg3.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <h3 class="poppins-bold">CARROCERÍA DE ALTA RESISTENCIA</h3>
            <p class="my-4 xl:my-8">
              Diseñada para maximizar la seguridad del vehículo, utilizando
              acero termoformado de más de 1500 MPa. Esta estructura avanzada no
              solo mejora la protección en caso de colisión, sino que también
              refuerza la integridad de la cabina y del compartimento de la
              batería, garantizando una conducción más segura y confiable.
            </p>
          </div>
          <div class="hidden xl:block xl:col-span-3">
            <img src="/img/seg3.png" alt="foto" />
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-seg.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">Seguridad</h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:hidden">
            <img src="/img/seg4.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <h3 class="poppins-bold">PLATAFORMA DE ALTA SEGURIDAD</h3>
            <p class="my-4 xl:my-8">
              El GAC Aion Y cuenta con una plataforma que ha sido diseñada
              específicamente para vehículos 100% eléctricos, proporcionando una
              protección integral tanto para los pasajeros como para la batería.
              Con un chasis plano y espacio optimizado para la disipación de
              calor, esta plataforma asegura una mayor resistencia a colisiones
              y mantiene la estabilidad térmica, garantizando un entorno más
              seguro en todo momento.
            </p>
          </div>
          <div class="hidden xl:block xl:col-span-3">
            <img src="/img/seg4.png" alt="foto" />
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
